*.class
*.log

# Package Files #
*.jar
*.war
*.ear
target/
dependency-reduced-pom.xml

/config_override

#IDE files#
.idea/
*.iml
*.ipr
*.iws
/.settings
/.project
/.classpath

/bin/

logback-override.xml

spa-keystore.jwks
proxy-specifications/